[submodule "Externals"]
	path = Externals
	url = https://github.com/anorisoft/Anori.Extensions
[submodule "Submodules/Anori.Extensions"]
	path = Submodules/Anori.Extensions
	url = https://github.com/anorisoft/Anori.Extensions
	branch = master
[submodule "Submodules/Source"]
	path = Submodules/Source
	url = https://github.com/anorisoft/Anori.Extensions
	branch = master
